# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.spec
eggs/

# Virtual environment
.venv/
venv/
ENV/

# JetBrains IDE (PyCharm)
.idea/

# Distribution / packaging
*.whl

# Environment variables
.env
.env.*

# OS
Thumbs.db
Desktop.ini
.DS_Store

*.md
.mcp.json
.claude
nul